<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avenwu.ereader"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="16"/>

    <supports-screens android:anyDensity="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.CnblogsNewsFeedActivity"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
                android:name=".ad.LoadActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name">

        </activity>
        <activity
                android:name=".activity.Splash"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
                android:name=".activity.MenuActivity"
                android:icon="@drawable/icon_logo"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.BlogArticalActivity"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
                android:name=".activity.CSDNNewsFeedActivity"
                android:label="@string/geek_news"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
                android:name=".activity.BaiduPhotosActivity"
                android:label="@string/baidu_photos"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
                android:name=".activity.PhotoDetailActivity"
                android:theme="@style/Theme.Sherlock.NoActionBar">
        </activity>
        <activity
                android:name=".activity.WebNewsActivity"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
                android:name=".activity.NeteaseActivity"
                android:label="@string/netease"
                android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
                android:name="cn.waps.OffersWebView"
                android:configChanges="keyboardHidden|orientation"/>
        <!--以下属性为应⽤用ID,从万普后台获取-->
        <meta-data
                android:name="WAPS_ID"
                android:value="d2c72e069bde92b7e86f87c0bc9431e2"/>
        <!--以下属性为分发渠道ID,编码表参⻅见本⽂文档末附表-->
        <meta-data
                android:name="WAPS_PID"
                android:value="appchina"/>
        <meta-data
                android:value="5220316356240b03c8001942"
                android:name="UMENG_APPKEY"></meta-data>
        <meta-data
                android:value="appchina"
                android:name="UMENG_CHANNEL"/>

        <activity
                android:name="com.umeng.fb.ConversationActivity"
                android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
                android:name="com.umeng.fb.ContactActivity"
                android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>